* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
  background: linear-gradient(207.8deg, #243119 16.69%, #96BE8C 100%);
}


/* Cabecera de página */
header {
  display: flex;
  width: inherit;
  height: 15vh;
  padding-left: 30px;
}

header img {
  width: 100%;
}
header a {
  width: 5%;
  align-self: center;
}

header h1 {
  margin-left: 20px;
  align-self: center;
  font-size: 30rem;
}


/* Contenido principal */
main {
  display: flex;
  width: inherit;
  height: 75vh;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  color: #ACECA1;
}

.message__wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.message__wrap--box {
  width: auto;
  height: auto;
  float: left;
}
.message__wrap--title {
  margin-top: 10px;
  text-align: center;
  font-size: 18rem;
}

.text {
  font-family: sans-serif;
  text-align: center;
  font-size: 70rem;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.bounce {
  animation-name: bounce;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


/* Pie de página */
footer {
  display: flex;
  width: inherit;
  height: 10vh;
}

.footer__left a {
  position: relative;
  bottom: calc(100% - 90px);
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 15rem;
  color: #FFFFFF;
}
.footer__left a:visited {
  color: #ACECA1;
}
.footer__left a:hover {
  text-decoration: underline;
}

.footer__left img {
  margin-right: 5px;
  width: 1.5%;
}
.footer__right {
  width: max-content;
  text-align: center;
  font-size: 10rem;
}
.footer__right h3 {
  margin: 5px 0;
}
.footer__right img {
  width: 25%;
}