:root {
  /* Colors */
  --color-primary: #96BE8C;
  --color-secondary: #629460;
  --dark-variation: #243119;
  --color-variation: #ACECA1;
  --soft-variation: #C9F2C7;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --warm-black: #282623;
  /* Fonts */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 24rem;
  --title-h4: 20rem;
  --title-h5: 16rem;
  --paragraphs: 14rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 7px;
  background-color: var(--color-variation);
  border-radius: 20px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--dark-variation);
}

/* Cabecera */
header {
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 0;
  background: linear-gradient(to right, #afec84 50%, #97dd69 50%);
}

.header__container {
  width: 95%;
  max-width: 1400px;
  height: inherit;
  margin: 0 auto;
  background-image: url(../../client/assets/images/background.jpeg);
  background-size: 50vw 35vh;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-menu > label, .btn-menu img, .btn-menu > h1 {
  float: left;
  padding-top: calc(0% + 15px);
}
.btn-menu label {
  cursor: pointer;
  font-size: 25px;
}
.btn-menu img {
  min-width: 3%;
  max-width: 40px;
  margin-left: 20px;
  padding-top: calc(0% + 10px);
}
.btn-menu h1 {
  padding-top: calc(0% + 13px);
  margin-left: 10px;
  font-weight: 600;
  font-size: var(--title-h1);
}

.container__nav {
  float: right;
  padding-top: calc(0% + 20px);
}
.container__nav ul {
  list-style: none;
}
.nav--menu > li {
  position: relative;
  display: inline-block;
}
.nav--menu > li > a {
  display: block;
  border-bottom: 3px solid transparent;
  margin-right: 10px;
  padding: 0 20px;
  transition: all 0.3s ease;
  text-decoration: none;
  line-height: normal;
  font-weight: 500;
  font-size: var(--title-h5);
  color: var(--warm-black);
}
#nav__img {
  padding: 0 10px;
}
.nav--menu img {
  width: 18px;
  height: 18px;
}
.nav--menu a:hover {
  border-bottom: 3px solid var(--dark-variation);
  padding-bottom: 5px;
}

/* Menú lateral */
#btn-menu {
  display: none;
}

.menu-lateral {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: all 500ms ease;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
}

#btn-menu:checked ~ .menu-lateral {
  opacity: 1;
  visibility: visible;
}

.menu__content {
  position: relative;
  max-width: 250px;
  height: 100vh;
  background-color: #1C1C1C;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .menu-lateral .menu__content {
  transform: translateX(0%);
}

.menu__content label {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 20rem;
  color: var(--just-white);
}
.menu__content nav {
  transform: translateY(15%);
}
.menu__content nav ul {
  list-style: none;
}
.menu__content nav a {
  display: block;
  padding: 20px;
  border-left: 3px solid transparent;
  transition: all 400ms ease;
  text-decoration: none;
  font-size: var(--title-h5);
  color: var(--just-grey);
}
.menu__content nav a:hover {
  border-left: 3px solid var(--just-grey);
  background-color: var(--warm-black);
}

/* Contenido principal */
main {
  width: inherit;
  height: 200vh;
  padding-top: 15vh;
}

main section {
  max-width: 1250px;
  height: 80px;
  margin: 15px auto 20px;
  border-radius: 40px;
  text-align: center;
  background-color: var(--color-secondary);
}
main section > p {
  display: inline-block;
  padding-top: calc(4% - 25px);
  margin: 0 14vw;
  align-items: center;
  font-weight: 600;
  font-size: var(--title-h2);
  color: var(--just-white);
}
main section > p:first-child {
  margin-left: 20px;
}
main section > p:last-child {
  margin-right: 40px;
}

.main__container, .main__container2 {
  width: 90%;
  height: 14%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #DEF3DE;
}

.main__container2 {
  height: 7%;
}

.container__product {
  float: left;
  width: 10%;
  height: 100%;
  object-fit: contain;
}

.product-description {
  width: 70%;
  height: 100%;
  padding: 10px;
  float: left;
  font-size: var(--title-h2);
}

.product-price {
  float: right;
  padding: 10px;
  font-weight: 600;
  font-size: var(--title-h3);
}
.product-amount {
  float: right;
  padding: 10px;
  font-weight: 500;
  font-size: var(--title-h4);
}

.product-company {
  font-size: var(--title-h4);
}

.availability {
  font-size: var(--title-h5);
  color: var(--color-secondary);
}

.subtotal {
  padding: 10px;
  float: right;
  font-size: var(--title-h3);
}

.total {
  font-weight: 800;
}